[submodule "is.idega.idegaweb.egov.finances"]
	path = is.idega.idegaweb.egov.finances
	url = git@github.com:idega/is.idega.idegaweb.egov.finances.git
[submodule "is.idega.idegaweb.egov.cases.focal"]
	path = is.idega.idegaweb.egov.cases.focal
	url = git@github.com:idega/is.idega.idegaweb.egov.cases.focal.git
[submodule "com.idega.block.school"]
	path = com.idega.block.school
	url = git@github.com:idega/com.idega.block.school.git
[submodule "is.idega.idegaweb.egov.cases.rvk"]
	path = is.idega.idegaweb.egov.cases.rvk
	url = git@github.com:idega/is.idega.idegaweb.egov.cases.rvk.git
[submodule "is.idega.webservice"]
	path = is.idega.webservice
	url = git@github.com:idega/is.idega.webservice.git
[submodule "is.idega.idegaweb.egov.bpm"]
	path = is.idega.idegaweb.egov.bpm
	url = git@github.com:idega/is.idega.idegaweb.egov.bpm.git
[submodule "is.idega.idegaweb.egov.accounting"]
	path = is.idega.idegaweb.egov.accounting
	url = git@github.com:idega/is.idega.idegaweb.egov.accounting.git
[submodule "is.idega.idegaweb.egov.serviceoffer"]
	path = is.idega.idegaweb.egov.serviceoffer
	url = git@github.com:idega/is.idega.idegaweb.egov.serviceoffer.git
[submodule "is.idega.block.family"]
	path = is.idega.block.family
	url = git@github.com:idega/is.idega.block.family.git
[submodule "is.idega.idegaweb.egov.company"]
	path = is.idega.idegaweb.egov.company
	url = git@github.com:idega/is.idega.idegaweb.egov.company.git
[submodule "is.idega.idegaweb.egov.xformscase"]
	path = is.idega.idegaweb.egov.xformscase
	url = git@github.com:idega/is.idega.idegaweb.egov.xformscase.git
[submodule "is.idega.idegaweb.egov.course"]
	path = is.idega.idegaweb.egov.course
	url = git@github.com:idega/is.idega.idegaweb.egov.course.git
[submodule "is.idega.idegaweb.egov.cases"]
	path = is.idega.idegaweb.egov.cases
	url = git@github.com:idega/is.idega.idegaweb.egov.cases.git
[submodule "is.mentor"]
	path = is.mentor
	url = git@github.com:idega/is.mentor.git
[submodule "is.idega.idegaweb.member"]
	path = is.idega.idegaweb.member
	url = git@github.com:idega/is.idega.idegaweb.member.git
[submodule "is.idega.idegaweb.egov.citizen"]
	path = is.idega.idegaweb.egov.citizen
	url = git@github.com:idega/is.idega.idegaweb.egov.citizen.git
[submodule "is.idega.idegaweb.egov.message"]
	path = is.idega.idegaweb.egov.message
	url = git@github.com:idega/is.idega.idegaweb.egov.message.git
[submodule "com.idega.company"]
	path = com.idega.company
	url = git@github.com:idega/com.idega.company.git
[submodule "is.idega.block.nationalregister"]
	path = is.idega.block.nationalregister
	url = git@github.com:idega/is.idega.block.nationalregister.git
[submodule "is.idega.idegaweb.msi"]
	path = is.idega.idegaweb.msi
	url = git@github.com:idega/is.idega.idegaweb.msi.git
[submodule "is.idega.nest.rafverk"]
	path = is.idega.nest.rafverk
	url = git@github.com:idega/is.idega.nest.rafverk.git
[submodule "is.idega.idegaweb.egov.application"]
	path = is.idega.idegaweb.egov.application
	url = git@github.com:idega/is.idega.idegaweb.egov.application.git
[submodule "is.idega.idegaweb.egov"]
	path = is.idega.idegaweb.egov
	url = git@github.com:idega/is.idega.idegaweb.egov.git
[submodule "is.idega.block.agresso"]
	path = is.idega.block.agresso
	url = git@github.com:idega/is.idega.block.agresso.git
[submodule "is.nemanet"]
	path = is.nemanet
	url = git@github.com:idega/is.nemanet.git
[submodule "com.idega.xroad.service"]
	path = com.idega.xroad.service
	url = git@github.com:idega/com.idega.xroad.service.git
[submodule "is.idega.block.pki"]
	path = is.idega.block.pki
	url = git@github.com:idega/is.idega.block.pki.git
