div.tableSection div.helperText {
	float: none;
	width: auto;
	margin-bottom: 12px;
	font-size: 12px;
}

div.tableSection table th, div.tableSection table td {
	padding: 5px 2px;
}

div.tableSection table .paymentReceiver {
	text-align: left;
	padding-right: 20px;
	vertical-align: bottom;
}

div.tableSection table .month {
	text-align: center;
	width: 40px;
}

div.tableSection table .summerHoliday {
	background-color: #efefef;
}

div.tableSection div.attention {
	margin-top: 0;
	margin-bottom: 12px;
}

div.noHelpSection div.formItem {
	width: auto;
	float: none !important;
}

div.noHelpSection div.formItem label {
	margin: 0;
	text-align: right;
	margin-right: 12px;
	width: 100px;
}

div.noHelpSection div.formItem span {
	width: 550px;
	margin: 0;
}

div.noHelpSection div.totalItem {
	float: right !important;
	margin-top: 4px;
	margin-bottom: 0;
}

div.radioButtonItem input {
	width: auto !important;		
}

div.noHelpSection div.totalItem span {
	width: 100px;
	text-align: right;
}

div.formItem span.bankInfo {
	text-align: center;
	margin-right: 8px;
}

div.formItem span.bankInfo input {
	margin-bottom: 0;
	margin-right: 0;
	float: none;
}

div.formItem span.bankInfo.bankNumber input {
	width: 30px;
}

div.formItem span.bankInfo.ledger input {
	width: 20px;
}

div.formItem span.bankInfo.accountNumber input {
	width: 50px;
}

div.formItem span.bankInfo span {
	clear: both;
	float: none;
	display: block;
	font-size: 8px;
}